.ultrawide-container {
  max-width: 3840px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 2rem 0;
  width: 100%;
  max-width: 80%;
}

.game-title {
  font-family: 'Star Jedi', sans-serif;
  text-align: center;
}

.game-title .main-title {
  font-size: 2rem;
  color: #FFE81F;
}

.game-title .sub-title {
  font-size: 1.5rem;
  letter-spacing: 0.07em;
  color: white;
}

.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  padding: 1rem 0;
}
