*, *::before, *::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
html, body {
  height: 100%;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
input, button, textarea, select {
  font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
#root, #__next {
  isolation: isolate;
}

@font-face {
  font-family: 'Star Jedi';
  src: url('./fonts/star-jedi-regular.ttf') format('truetype');
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'Distant Galaxy';
  src: url('./fonts/distant-galaxy-regular.ttf') format('truetype');
  font-style: normal;
  font-weight: 400;
}

body {
  background-color: #09090b;
  background-image: url('./img/background.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 100vh;
}

#root {
  height: 100%;
  position: relative;
}
